{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>It works!</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
    Endpoints:<br><br>
    <ul>
        <li>/log/sleep/:logspeed - set the pause between loglines to a millionth fraction of a second</li>
        <li>/log/bytesize/:bytesize - set the size of each logline in bytes</li>
        <li>/log/stop - stops any running logging</li>
    </ul>
</div>

{{template "footer.html" .}}
